*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    font-family: sans-serif;
}
body{
    background: #212121;
}
.container{
    width: 85%; 
    margin: 0 auto;
    /* padding: 30px; */
}
nav{
    /* border: 3px solid red; */
    background: #282828;
    width: 100%;

    .navbar{
        display: flex;
        justify-content: space-between;

    }
    .logo_links{
        display: flex;
        gap: 30px;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    a{
        font-weight: 700;
        font-size: 20px;

    }
    .belgilar{
        display: flex;
        align-items: center;
        gap: 25px;
    }

} 


header{
    width: 100%;
    height: 700px;
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1{
        font-size: 100px;
        font-weight: 400;
    }
    button{
        color: #171718;
        font-weight: 500;
        font-size: 20px;
        padding: 13px 14px;
        border-radius: 10px;
    }
}

.haqida{
    padding: 63px 0 79px 0;

    .haqida_content{
        display: flex;
        gap: 60px;
        align-items: center;
    }
    p{
        max-width: 520px;
        font-weight: 500;
        font-size: 22px;
        line-height: 24px;
    };
    .haqida2{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}


.telfon{
    margin-left: 245px;
    width: 20px;
    height: 20px;
    border: 20px;
    padding: 63px 0 79px 0;


    
}
.telfonlar{
    display: flex;
}




.container{
    width: 1140px;
    margin: 0 auto;
}

body{
    background:#212121 ;
}

.kartalar{
    padding: 80px, 0,50px,0;

}

.kartalar_content{
    display: flex;
    justify-content: space-between;

}

.karta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 352px;
    border-radius: 6px;
    background: #FFFFFF;
    gap: 15px;

    h4{
        font-size: 20px;
        line-height: 24px;
        color: black;
    }

    p{
        color: black;
        font-size: 14px;
        line-height: 17px;

    }
    button{
        color: #FFFFFF;
        background: #151515;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        padding: 7px 57px;
        border: none;
    }

}



footer{
    padding: 80px 0 ;
    background: #38363640;
    margin-top: 55px;
}

.footer{
    display: flex;
    justify-content: space-between;
    ul{
        display: flex;
    
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 500px) {
    nav ul{
        display: none;
    }
    
}



